* {
  scroll-behavior: smooth;
}

/*BODY*/
body {
  margin: 0 auto;
  padding: 90px 0 0 0; 
  background-color: rgb(247, 247, 247);
  font-family: "space mono", monospace;
  text-align: center;
  letter-spacing: normal;
}

p {
  font-size: 17px;
}

a {
  text-decoration: none;
}

/*HEADINGS*/
h1 {
  padding-top: 20px;
  margin-bottom: -5px; /* pulls the hr closer */
  font-size: 35px;
  font-family: "regular", Courier;
}

h2 {
  margin-bottom: -5px; /* pulls the hr closer */
  font-size: 35px;
  font-family: "regular", Courier;
}

/*NAVBAR*/
.navbar {
  background-color: rgb(225, 138, 170);
  border-color: rgb(225, 138, 170);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;       /* start at the very left edge */
  opacity: 90%;
  padding: 20px 0;  /*vert pad*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-sizing: border-box;
}

.nav-links {
  font-size: 15px;
  display: flex;
  gap: 40px;       /* space between links */
  list-style: none;
  margin-left: -10px;
  margin-right: 50px; 
  max-width: 1200px;
}

.name {
  font-size: 30px;
  text-align: left;
  margin-left: 40px;  /* space from the left edge */
  padding-left: 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
  background-color: rgb(225, 138, 170);
}

li a:hover {
  color: white; 
  transition: 0.4s ease;
  cursor: pointer;
}

/*SECTIONS*/
.aboutme {
  scroll-margin-top: 300px; /* ensures sections are not covered by navbar */
  padding: 10px;
}

.aboutme-p {
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 30px;
  max-width: 800px;
  line-height: 30px;
}

.projects {
  background-color: white;
  padding: 50px;
  scroll-margin-top: 90px;
}

.skills{
  padding:50px;
  scroll-margin-top: 20px; 
}

.contactme {
  padding: 50px;
  background-color:white;
}

.contact-p{
  font-size: 15px;
  padding-top: 20px;
  color: black;
}

.contactme .email{
  color: black;
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #e18aaa;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s ease;
  font-size: 15px;
}

.email:hover {
  transform: scale(1.07);
  background: #eaa2be;
  cursor: pointer;
  font-style:bold;
}

/*ICONS*/
.abouticons{
  padding-top: 15px;
  color: rgb(225, 138, 170);
  margin:auto;
  padding-bottom: 50px;
   width: 45px;
  height: 45px;
  transition: 0.3s ease;
}

.abouticons:hover{
  color:#fcc2d9;
  cursor: pointer;
  transform: scale(1.07);
}

.techicons {
  padding-top: 20px;
  width: 80px;
  height: 80px;
  padding-bottom: 20px;
  color: rgb(225, 138, 170);
  margin:auto;
  transition: 0.3s ease;
}

.techicons:hover{
  transform: scale(1.07);
}

/*FOOTER*/
footer {
  bottom: 0;
  left: 0;
  right: 0;

  background: #d5d5d5;    
  color: black;
  text-align: center;

  padding: 10px 0;
  font-size: 12px;
  font-family: "Courier New", monospace;
  color:black;
}

/*OTHER*/
.name {
  font-size: 30px;
  text-align: left;
  margin-left: 22px;
}

hr {
  background-color: rgb(225, 138, 170); 
  border: none; /* removes default HR border */ 
  opacity: 97%; 
  height: 4px; 
  margin-top: -15px; 
  width: 100px; /* fixed width */ 
  margin: 20px auto; /* centers it */ 
  border-radius: 15px; /* round corners */ 
  display: block; /* lets border-radius work properly */
}

.headshot {
  padding: 10px;
  border-radius: 50%;
  width: 330px;
  height: 330px;
  transition: 0.3s ease;
}

.headshot:hover {
  transform: scale(1.015);
<<<<<<< HEAD
  
}
=======
}

/*making this work for other devices (small)*/
@media (max-width: 768px) { /* tablet and also smaller */
  nav ul {
    flex-direction: column;  /* makes it stack vertically*/
    gap: 10px;
  }
  nav {
    padding: 0 10px;         
  }
}
/*for a screen bigger than 1400px*/
@media (min-width: 1400px) {
  .name {
    font-size: 36px; 
  }

  .nav-links li a {
    font-size: 18px;     
  }

  .nav-container {
    max-width: 1400px;    
    margin: 0 auto;      
    padding: 0 50px;     
  }
}
>>>>>>> 8449dea (Updated website to respond to different types of devices, specifically with screen size.)
